/* 
 * Styles for the app
 */

html, body, main {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  position:relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* create a radial gradient in the background */

body {
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #000 100%);
}

a {
  color: #00B7FF;
}

h1 {
  color: #ddd;
}

h2 {
  color: #ff0000;
}

/**
 * Positioning
 */

/* Set to flex display */
 .flex {
   display: flex;
 }

 /* vertically align the child elements */
 .flex-vertical {
    align-items: center;
 }

/* horizontally align the child elements */
 .flex-horizontal {
  justify-content: center;
  width: 100%;
 }

/** 
 * Elements on the page
 */

/* page header at top */
.floating-header {
  position:absolute;
  z-index: 1;
  width:100%;
  top:0;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  background-color: rgba(200,10,10, 0.2);
}

/* fade header and footer in and out */
header.animation-fadeout {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

header.animation-fadein {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.floating-header h1 {
  font-size: 2.5em;
  margin: 0.2em 0 0.2em 0;
}

.floating-header p {
  color: #ddd;
}

/* wraps everything */
.scene-loader-wrapper {
  -webkit-filter: drop-shadow(0 0 18px #854415);
  filter: drop-shadow(0 0 18px #854415);
}

.scene-loader-dialog {
  position: absolute;
  text-align:center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  filter: hue-rotate(0deg);
  background: linear-gradient(45deg, #0f8, #08f);
  animation: loader-hue 1.5s infinite linear;
  border-radius: 50%;
}

/* central circle where load messages appear */
.scene-loader-after {
  content: "";
  display: block;
  position: absolute;
  left: 3%;
  top: 3%;
  width: 94%;
  height: 94%;
  border-radius: 50%;
  background-color: #000;
}

/* set message styles here */
.scene-loader-before {
  display: inline-block;
  width: 400px;
  position: absolute;
  text-align:center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFF;
  text-align: center;
  line-height: 290px;
  font-size: 24px;
  letter-spacing: 0.2em;
}

// message in loader box (title)
#primary-scene-loader-msg {
  position:relative;
  padding-top:118px;
  line-height:36px;
  opacity:0;
}

/* BabylonJS status messages */
#primary-scene-loader-status {
  font-size: 16px;
}

@keyframes loader-hue {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

/* 
 * NOTE: we fadeout for 2 seconds, 
 * but we set display='none' in JavaScript
 * at 800ms. Otherwise, something in BabylonJS
 * makes the dialog re-appear
 */
.loader-fadeout {
  animation: fadeout 1s;
}

.loader-text-fadein {
  animation: fadein 0.5s;
}

/* Animate opacity */
@keyframes fadeout {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes fadein {
  from { opacity: 0}
  to { opacity: 1}
}

/* wrapper around the canvas (which fills screen, underlies header and footer) */
.render-xr-canvas-wrapper, .scene-loader-wrapper {
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  bottom:0;
}

.render-xr.canvas.wrapper {
  z-index: 0;
}

/* the WebXR <canvas> inside the wrapper */
.render-xr-canvas {
  width: 100%;
  height: 100%;
}

/* wrapper for VR->screen toggle button
   TODO: not used yet */
.xr-toggle {
  position: fixed;
  z-index: 4;
  width: 110px;
  height: 110px;
  right: 10px;
  bottom: 10px;
}

/* fixed VR->screen toggle button
   TODO: Not used yet */
.xr-toggle-button {
  display: inline-block;
  background: url(../images/icons/icon_vr_smartphone_notext.svg);
  text-indent: -9999px;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
}

/* page footer at bottom */
.floating-footer {
  position:absolute;
  z-index: 5;
  width:100%;
  height:30px;
  bottom:0;
  border-top: 1px solid #ccc;
  background-color: rgba(200,10,10, 0.2);
}

/* FPS panel */
.xr-fps-panel {
  display:flex;
  justify-items: center;
}